@import "~@option-blitz/libs/assets/styles/mixins.scss";

.container {
  @include flexbox(initial, initial);

  height: 100vh;
  flex-direction: column;
}

.body {
  height: 100%;
  @include flexbox(initial, initial)
}

.left_navigation_bar {
  height: 100%;
}
