@import "~@option-blitz/libs/assets/styles/mixins";
.colorGreen{
  color: #00cd86;
  font-family: "Conthrax";
}
.colorGreenMob {
  font-family: 'Conthrax';
    color: #00cd86;
    font-size: 8.54615px;
    line-height: 10px;
}
.img{
    width:80px;
    height:25px;
    fill:none;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.fl{
  display: flex;
  align-items: center;
  column-gap: 9px;
  width:80px;
  height:25px;
  fill:none;
}
.flags{
  margin-right: 10px;;
}
.mar {
  margin: 15px;
  @include mobile {
    width: 100%;
  }
}

.iconsal {
  align-items: center!important;
}
.tabuletTitle {
  text-align: center;
}
.titlemob {
  position: relative;
  padding-left: 10px;
  padding-top: 30px;
  text-align: left;
  font-size: 11px;
  line-height: 13px;
  font-family: "Cabin";
}
.none {
}
.check {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}