@import "~@option-blitz/libs/assets/styles/mixins";

.checkbox_wrap {
  @include flexbox(center, space-between);

  margin-top: 16px;
  margin-bottom: 10px;
}

.checkbox_label {
  text-transform: uppercase;
  font-size: 11px;
}

.up_icon {
  transform: rotate(-90deg);
}

.down_icon {
  transform: rotate(90deg);
}

.inputs_wrap {
  @include flexbox();

  margin-bottom: 8px;
}

.input {
  &:first-child {
    margin-right: 7px;
  }
}

.buttons_wrap {
  @include flexbox();

  width: 100%;
}

.button {
  text-transform: uppercase;
  font-size: 9px;
  width: 100%;
  padding: 12px 0;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.target_price_btn {
  font-size: 8px;
  padding: 12px 10px;
}

.collapse {
  width: 100%;
  padding: 0;
  //margin-bottom: 16px;
  border: none;
}

.collapse_title {
  text-transform: uppercase;
  font-size: 11px;
}
.co {
  padding-top:  10px;
  padding-bottom: 5px;
}

.collapse_content {
  margin-top: 16px;
}

.wrap_mobile {
  @include flexbox();

  flex-direction: column;
  margin: 6px 16px auto;
  padding: 24px 16px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}
.check_box_unactive{
  //margin:  0 10px;
}
.check_box_active{
  box-shadow: 0px 0px 12px rgba(38, 169, 127, 0.80);
  //margin:  0 10px;
}