.wrap {
  width: 100%;
}
.line {
  border-top: 1px dashed #2F394A;
  width: 100%;

}

.title {
  font-size: 11px;
  text-transform: uppercase;
}

.item {
  display: flex;
  margin: 10px 0px;

  .label {
    flex: 2;

    font-size: 11px;
  }

  .value {
    flex: 3;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #00CD86;
  }
}
.none{
  display: none;
}
.wrapMobile{
  @extend .wrap;
  padding: 0 15px;
  button{
    width: 100%;
  }
}
.test{
  width: 100%;
}
