@import "~@option-blitz/libs/assets/styles/mixins";

.wrap {
  width: 229px;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.disable{
  width: 50%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.active{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 50%;
  color: #00CD86;
  border-bottom: 1px solid #00CD86;
  cursor: pointer;
}
.wrap_mobile {
  @include flexbox(initial, initial);

  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
.icon {
  color: var(--color-green);
  margin-right: 10px;
}

.card_wrap {
  @include flexbox(center, initial);

  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    max-width: 300px;
    margin-bottom: 8px;
    @include mobile{
      width: 343px;
      height: 350px;
      border: 1px solid #374459;
      border-radius: 4px;
    }
  }
}

.card_wrap_mobile {
  @include flexbox(center, initial);

  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
      width: 343px;
      height: 350px;
      margin: 16px;
      border: 1px solid #374459;
      border-radius: 4px;
    }

}

.news{
  height: 55px;
  border-bottom: 1px solid #2F394A;
  display: flex;
  align-items: center;
  font-size: 11px;
  justify-content: space-around;
  margin-bottom: 20px;
}
.economic{
  max-width: 77px;
}
.title_wrap {
  @include flexbox(center, space-between);

  margin-bottom: 14px;
}

.title {
  font-size: 11px;
  text-transform: uppercase;
}

.arrow_wrap {
  @include flexbox();

  position: relative;
  width: 28px;
  height: 28px;
  background-color: rgba(2, 6, 16, 0.88);
  border: 1px solid var(--color-grey);
  border-radius: 100%;
}

.title_wrap_mobile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


