@import "~@option-blitz/libs/assets/styles/mixins.scss";
@import "~@option-blitz/libs/assets/styles/variables.scss";

.background {
  position: absolute;
  background-color: rgba(2, 6, 16, 0.8);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInviseble {
  display: none;
}

.modal {
  overflow: hidden;
  background-color: #181d2d;
  display: flex;
  flex-direction: column;
  width: 675px;
  //height: 350px;
@include mobile {
  width: 343px;
  height: 465px;
  border-radius: 6px;
}
}

.login {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid #374459;
}

.pointer {
  display: flex;
  column-gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgLock {
  margin-right: 14px;
  color: #2B83D4;
}

.imgFox {
  margin-right: 14px;
}

.method {
  font-size: 9px;
  margin-top: 19px;
  margin-bottom: 16px;
}

.button {
  color: #0d1422;
  border: 1px solid #374459;
  min-width: 311px;
  height: 44px !important;
  //margin-bottom: 12px;
  border-radius: 10px !important;
  margin: 10px auto;
}
.button_small {
  color: #0d1422;
  border: 1px solid #374459;
  width: 48px !important;
  height: 48px !important;
  margin-bottom: 12px;
  border-radius: 4px !important;
}

.account {
  margin-top: 16px;
  margin-bottom: 17px;
  font-size: 9px;
}

.fonts {
  button {
    color: white !important;
  }
}

.main {
  button:nth-child(1) {
    font-family: Cabin;
    font-size: 13px;
  }

  button:nth-child(2) {
    font-family: Cabin;
    font-size: 13px;
  }
}

.hr {
  width: 100%;
  background-color: #374459;
  height: 1px;
  border: none;
  margin-top: 12px;
  margin-bottom: 0px;
}

.close_icon {
  top: 4px;
  right: 4px;
}
.method_mod {
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mob {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.metamask_message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
