@import "~@option-blitz/libs/assets/styles/mixins.scss";

.wrap {
  padding: 10px 70px 0 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
