@import "~@option-blitz/libs/assets/styles/mixins.scss";

.wrap {
  padding: 10px 20px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.mobile_wrap {
  @include flexbox(initial, flex-end);

  flex-direction: column;
  height: 100%;
  width: 100%;
}
