.deposit {
  max-width: 300px;
  width: 100%;
}
.depositMobile{
  width: 100%;
}
.depositTitle {
  padding: 24px 0;
}
.convertTitle {
  padding-bottom: 4px;
}
.redeemTitle {
  padding-bottom: 12px;
}
.convert {
  padding: 24px 0;
}
.subtitle {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 16px */

  font-feature-settings: 'pnum' on, 'lnum' on;
}
.cardBlock {
  border-bottom: 1px solid #2F394A;;
  div {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 25px;
    div {
      &:last-child {
        display: none;
      }
    }
  }
}
.tokenBlock {
  display: flex;
  border: 1px solid #374459;
  border-radius: 4px;
  width: 100%;
}

.token {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  span {
    &:first-child {
      font-family: 'Conthrax';
      font-style: normal;
      font-weight: 600;
      font-size: 8px;
      line-height: 10px;
      /* identical to box height */

      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #59648A;
    }
    &:last-child {
      font-family: 'Cabin';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* green active */

      color: #00CD86;
    }
  }
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #374459;
  padding: 8px;
}

.button {
  margin-top: 12px;
  width: 100%;
}
