.btn{
  background: linear-gradient(95.7deg, #24C48A 6.16%, #23C3B9 95.49%) !important;
  box-shadow: 0px 8px 15px rgba(38, 169, 127, 0.29);
  color: white !important;
  font-family: Conthrax;
  font-size: 9px;
}
.text{
  font-family: Conthrax;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.total{
  @extend .text;
  width: 100px !important;
}
.price{
  @extend .text;
  width: 50px !important;
}
.table{
  overflow-y: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
}
