@import "~@option-blitz/libs/assets/styles/mixins.scss";

.expandable_wrap_active {
  background-color: #191E2F;
}
.expandable_wrap_active:nth-child(2) div button{
  padding-left: 5px;
}
.expandable_wrap_active:nth-child(3) div button{
  padding-left: 5px;
}

.expandable_btn {
  position: relative;
  height: 54px;
  width: 60px;
  border-bottom: 1px solid var(--color-grey);
  @media (max-height: 830px) {
    height: 45px ;
  }
  @media (max-height: 725px) {
    height: 43px ;
  }
}

.expandable_btn_active {
  border-bottom: none;
  border-left: 3px solid var(--color-green);
  color: var(--color-green);
  @media (max-height: 830px) {
    height: 45px ;
  }
  @media (max-height: 725px) {
    height: 42px ;
  }
}

.expandable_wrap {
  @include flexbox();

  width: 100%;
  flex-direction: column;
  color: var(--color-dark-blue);
}
.expandable_wrap:nth-child(2) button i:first-child{
  padding-right: 3px;
}
.expandable_wrap:nth-child(3) button i:first-child{
  padding-right: 3px;
}

.expandable_content {
  @include flexbox();

  flex-direction: column;
}

.arrow {
  color: var(--color-dark-blue);
  position: absolute;
  right: 9%;
  top: 50%;
  transform: translateY(-50%);
}

.not_active_arrow {
  &:before {
    transform: rotate(-90deg);
  }
}
