.wrap{
  width: 500px;
  height: 700px;
}
.title{
  font-family:Conthrax;
  font-size: 12px;
  font-weight: 600;
}
.title_{
  font-family:Conthrax;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
.wrap_mobile{
  height: 100%;
}
