@import "~@option-blitz/libs/assets/styles/mixins";
.description {
  font-family: Cabin;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #b6c2ea;
  margin-bottom: 10px;
}

.duration {
  font-family: Conthrax;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  margin-bottom: 10px;
}

.confirm {
  height: 44px;
  border-radius: 4px;
  width: 330px;
  margin-top: 16px;
}
.confirm_mobile{
  @extend .confirm;
  width: 100%;
}
.section {
  display: flex;
  column-gap: 10px;
}
.section_mobile {
  width: 100%;
  display: flex;
  grid-column-gap: 10px;
  column-gap: 10px;
  margin: 10px 0;
  justify-content: space-between;
}


.valueActive {
  @extend .value;
  color: #00cd86;
  border: 1px solid #00cd86 !important;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 45px;
  @include mobile {
    height: 30px;
  }
  border-radius: 4px;
  border: 1px solid #374459;
  background-color: #0d1422;
}
.card_wrap {
  display:flex;
}
.card_wrap_mob {
  display: flex;
  justify-content: space-between;
}
.background {
  position: relative;
}
.background_mob {
  width: 180px;
  height: 190px;
}

.bg {
  position: absolute;
  top: 8px;
  left: 15px;
}
.bg_mob {
  position: absolute;
  top: 46px;
  left: -80px;
  height: 130px;
  width: 250px;
}

.left_card {
  position: relative;
}

.right_card {
  position: relative;
}

.coin {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: absolute;
  top: 20px;
  left: 30px;
}
.coin_mob {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.buy {
  position: absolute;
  top: 24px;
  left: 454px;
}
.buy_mob {
  position: absolute;
  top: 15px;
  left: 135px;
}

.balance {
  position: absolute;
  top: 97px;
  left: 35px;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: 11px;
}
.balance_mob {
  position: absolute;
  top: 95px;
  left: 20px;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: 11px;
}

.input_wrap {
  width: 330px;
  margin-right: 30px;
}
.input_wrap_mobile{
  width: 100%;
}
.in {
  height: 43px;
  display: flex;
  align-items: center;

  span {
    display: none;
  }

  border: 1px solid white !important;
  border-radius: 4px;
  position: absolute;
  top: 120px;
  left: 36px;
  width: 440px;

  div {
    border: none !important;
  }

  ::-webkit-input-placeholder {
    color: white;
  }

  ::-moz-placeholder {
    color: white;
  }
}
.in_mob {
  height: 43px;
  display: flex;
  align-items: center;

  span {
    display: none;
  }
  border: 1px solid white !important;
  border-radius: 4px;
  position: absolute;
  top: 115px;
  left: 20px;
  width: 132px;
  div {
    border: none !important;
  }

  ::-webkit-input-placeholder {
    color: white;
  }

  ::-moz-placeholder {
    color: white;
  }
}
.input {
  font-family: Cabin;
  font-size: 13px;
  color: white !important;
}

.bg_right {
  position: absolute;
  top: 7px;
  left: 14px;
}
.bg_right_mob {
  width: 330px;
  height: 140px;
  position: absolute;
  top: 30px;
  left: -120px;
}

.coin_right {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: absolute;
  top: 20px;
  left: 30px;
}
.coin_right_mob {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.card_description {
  position: absolute;
  top: 172px;
  left: 37px;
  font-family: Cabin;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 459px;
}

.in_two {
  @extend .in;
  width: 460px;
}
.in_two_mob {
  height: 43px;
  display: flex;
  align-items: center;
  width: 132px;
  position: absolute;
  top: 115px;
  left: 20px;
  border-radius: 4px;

    display: flex;
    align-items: center;

    span {
      display: none;
    }
    border: 1px solid white !important;
    //border-radius: 4px;
    //position: absolute;
    //top: 115px;
    //left: 20px;
    //width: 132px;
    div {
      border: none !important;
    }
    ::-webkit-input-placeholder {
      color: white;
    }
    ::-moz-placeholder {
      color: white;
    }
}
.balance_input_mob {
  border: 1px solid white !important;
}

.pool {
  font-family: Cabin;
  font-size: 12px;
  line-height: 16px;
  color: #b6c2ea;
  margin-left: 20px;
  margin-right: 10px;
  @include mobile {
  margin-left: 0;
}
}

.num {
  font-family: Cabin;
  font-size: 15px;
  @include mobile{
    margin-right: 20px;
  }
}

.button_wrap {
  display: flex;
  height: 30px;
  position: absolute;
  top: 24px;
  left: 195px;
}
.button_wrap_mob {
  display: flex;
  height: 26px;
  width: 110px;
  position: absolute;
  top: 65px;
  left: 20px;
}

.buttonActive {
  color: #22c1b7 !important;
  background: white !important;
  border: 1px solid white !important;
  border-radius: 4px;
  font-family: Conthrax;
  font-size: 11px;

}

.buttonUnActive {
  color: white !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white !important;
  border-radius: 4px;
  font-family: Conthrax;
  font-size: 11px;

}

.box {
  display: flex;
  align-items: center;
}

.box_mobile {
  display: flex;
  flex-direction: column;
}
.burn_button {
  padding: 12px 8px;
  height: 24px;
  font-size: 8px;
  line-height: 10px;

}
.value_mob_two {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF!important;
  line-height: 19px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px ;
}
.rez {
  display: flex;
  align-items: flex-end;
}
.rez_mob {
  display: flex;
  align-self: baseline;
}
.row_bottom_mob{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px ;
}