.card{
  position: relative;
  z-index: 51;
}
.coin{
  position: absolute;
  top:10px;
  left: 110px;
}
.back{
  position: absolute;
}
.total{
  font-family: Conthrax;
  font-size: 9px;
  font-weight: 600;
}
.value{
  font-size: 14px;
}
.box{
  position: absolute;
  width: 155px;
  top:90px;
  left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  border-right: 1px solid white;
}
.box_second{
  @extend .box;
  left: 190px;
  width: auto;
  border-right: none;
}
