@import "~@option-blitz/libs/assets/styles/mixins";

.wrap {
  width: 235px;
}

.navigation {
  display: flex;
  border-bottom: 1px solid #2F394A;
  margin-bottom: 25px;
  height: 40px;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;

  div {
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #59648A;
    text-transform: uppercase;
  }
}

.navItemActive {
  @extend .navItem;
  border-bottom: 1px solid #00CD86;

  div {
    color: #00CD86;
  }
}
