h4 {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.balances {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  overflow-y: scroll;
}
.container {
  border: 1px solid #374459;
  height: 100%;
  margin-right: 12px;
  margin-bottom: 70px;
  margin-top: 5px;
  padding-top: 25px;
  padding-left: 20px;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}
.containerMobile{
  @extend .container;
  border: none;
}
.cardList {
  padding-bottom: 50px;
}
.navigation {
  display: flex;
  border-bottom: 1px solid #2F394A;
  margin-bottom: 25px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 18px;
  cursor: pointer;
  &:last-child {
    div {
      color: #F3DE2C;
    }
  }
  svg {
    margin-right: 10px;
  }
  div {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #59648A;
    text-transform: uppercase;
  }
}

.navItemActive {
  @extend .navItem;
  border-bottom: 1px solid #00CD86;
  div {
    color: #00CD86;
  }
  &:last-child {
    border-bottom: 1px solid #F3DE2C;
  }
  svg {
    path, line {
      fill: #00CD86;
      stroke: #00CD86;
    }
  }
}


