@import "../libs/assets/styles/mixins";

.description {
  font-family: Cabin;
  font-size: 13px;
  line-height: 15px;
  color: #b6c2ea;
  margin-bottom: 15px;
}

.bg {
  position: relative;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
}

.enter {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 15px;
}

.in {
  height: 43px;
  display: flex;
  align-items: center;

  span {
    display: none;
  }

  border: 1px solid white !important;
  border-radius: 4px;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 290px;

  div {
    border: none !important;
  }

  ::-webkit-input-placeholder {
    color: white;
  }

  ::-moz-placeholder {
    color: white;
  }
}

.in_mobile {
  @extend .in;
  width: 310px;
}

.input {
  font-family: Cabin;
  font-size: 13px;
  color: white !important;
}

.staked {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.unstake {
  width: 315px;
  height: 44px;
  background: linear-gradient(180deg, #54B163 0%, #4CA357 100%);
  border-radius: 8px;
}

.unstake_mobile {
  @extend .unstake;
  width: 100%;
  margin-top: 10px;
}

.lock {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  column-gap: 10px;

  div {
    color: #00cd86;
  }

  margin-bottom: 10px;
}

.pool {
  font-family: Cabin;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #B6C2EA;
  display: flex;
  column-gap: 20px;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  position: relative;
}

.row_bottom_mob {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.bg_one {
  height: 115px;
  width: 100%;
  min-width: 320px;
  background: linear-gradient(77.11deg, #009CCD 24.16%, #2775CA 86.56%);
  box-shadow: 0px 8px 15px rgba(38, 114, 190, 0.29);
  border-radius: 6px;
}

.bg_one_mobile {
  @extend .bg_one;
  background: linear-gradient(77.11deg, #24C48A 24.16%, #26A17B 86.56%);
  box-shadow: 0px 8px 15px rgba(38, 169, 127, 0.29);
  height: 90px;
}

.bg_two {
  height: 115px;
  width: 100%;
  min-width: 320px;
  background: linear-gradient(77.11deg, #23C3B9 24.16%, #0C9A91 86.56%);
  box-shadow: 0px 8px 15px rgba(35, 195, 185, 0.31);
  border-radius: 6px;
}

.bg_two_mobile {
  @extend .bg_two;
  height: 90px;
}

.bg_three {
  height: 115px;
  width: 100%;
  min-width: 320px;
  background: linear-gradient(77.11deg, #E9C133 24.16%, #EB941F 86.56%);
  box-shadow: 0px 8px 15px rgba(233, 190, 50, 0.24);
  border-radius: 6px;
}

.bg_three_mobile {
  @extend .bg_three;
  height: 90px;
}

.wrapers {
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
  @include mobile {
    margin-right: 0px;
  }
}

.plus_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #113132;
  width: 32px;
  border-radius: 50%;
  height: 32px;
  top: 26%;
  left: 46.5%;
  position: absolute;
}

.plus_second_mobile {
  @extend .plus_mobile;
  top: 59%;
  left: 46.5%;
}

.plus_desktop{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #113132;
  width: 32px;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  top: 47px;
  left: 309px;
}
.plus_second_desktop {
  @extend .plus_desktop;
  left: 645px;
}
